body{
  background-color: orange;
  

}
  .pt-name {
    text-align: center;
  }
 .pt-details{
  text-align: center;
  // display: inline-block;
 }

 .review-title {
  font-style: italic;
 }

 .review-form {
  display: inline-block;
 }