body{
  background-color: #FFEFFI;
  // background-image: url("fotoPersonaltrainer1.jpg")

}

.home-wrapper{
  font-size: 20px;
  display: inline-block;
  width: 100%;
}

#left {
  float: left;
  background-color: blue;
  width: 50%;

}

#right {
  float: right;
  background-color: red;
  width: 50%;
}

 .nav {
  background-color: white;
  background-image: url("fotoPersonaltrainer1.jpg");
  height: 100px;
  text: white;
  // display: inline;
 }

  .nav ul{
    // background-color: green;
    text-decoration: none;
    text-align: center;
    list-style: none;
    font: white;
      

    
  }
  .nav li {
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    float: right;
    text-border: 5px black;
    // text-shadow: 5px  5px black;

  }

  .nav li a{
    text-decoration: none;
    // text-shadow: 5px  black;
    // text-border: 5px black;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    color: #e7e7e7;
  }

   

 .review-title {
  font-style: italic;
 }

.add-skills {
  display: inline-block
}
 .adding-pt {
  list-style: none;
  padding: 20px 250px;
 }

.links li {
  display: inline-block;
  text-decoration: none;
}

.links li a {
  text-decoration: none;
  color: black;
  text-align: center
}
 


 .reviews {
  display: none;
 }

 
 
 .list-of-pts{
  // display: inline-block;
 }


 .review-form {
  display: inline-block;
 }

 .list-of-pts, .search-wrapper {
   padding: 30px;
   // display: inline-block;
   position: relative;
 }

 .search-wrapper ul {
  display: inline;
  // position: relative;
  // padding: 60px 30px;
  float: left;
  // float: right;
 } 

 .location-search{
  padding: 60px 30;

 }

 .location-search{
  display: inline-block;
 }