<!--  -->

<div class="home-wrapper">
<div class="right">

</li>Find a PT</div>
<div class="left"><%= link_to 'Book PT', searchpts_path(@pt) %> Become a PT</div>
</div>


</div> 

<% @pts.each do |pt|  %> 
  <%= pt.name %>
<% end %>
<%= @locations %>





