<!DOCTYPE html>
<html>
<head>
  <title>RatePt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="nav">
  <ul>
    <li>Home</li>
    <li>Trainer Search</li>
    <li>Book a Trainer</li>
  </ul>
</nav>
<%= yield %>

</body>
</html>
